$font-color-primary: black;
$font-color-graphite: #4c4c4c;
$font-color-gray: #7f7f7f;
$font-color-light-gray: #f3f3f3;
$background-color-code: #eef3f5;
$cta-button-color: #4084de;
$border-color: rgba(0, 0, 0, 0.1);
$font-stack: neue-haas-unica, sans-serif;
$font-h1: aktiv-grotesk-extended, sans-serif;

$transition-header: opacity 200ms, top 200ms ease-in-out;