@import "variables.scss";

  /* Fonts */

  blockquote {
    position: static;
    margin: 0 4rem;
  }
  /* Grid */

  .post-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    align-content: center;
    transition: $transition-header;

    &-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 40vw;
      height: 100vh;
    }
  }

  article {
    display: flex;
  }

  .grid-12 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 0 auto;
    padding: 0 8rem;
  }

  .grid-aside,
  .grid-main,
  .grid-text {
    grid-column: 1 / -1;
  }

  .grid-text-white-space {
    display: none;
  }

  .grid-12-footer-widescreen {
    padding: 0 11.25%;
  }

  .post-content {
    /* position: absolute; */
    padding-left: 26.67vw;
    width: 30vw;
    right: 20vw;
    margin-top: 10vh;
  }

  nav {
    position: fixed;
    z-index: 1;
    padding: 2rem 0 0 8rem;
    background-color: transparent !important;
    transition: $transition-header;
  }

  footer {
    padding-left: 40vw;
    padding-bottom: 2vh;
    width: 60vw;
    margin-top: 10vh;
  }

  /* Meta */

  .meta-item-social-2col,
  .meta-item-social-2col-hide {
    display: none;
  }
  .meta-item-social-1col {
    display: block;
  }

  .meta-top {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 10rem 0 0 0;
    padding: 0;
    border-top: $border-color 1px solid;
  }

  .meta-bottom {
    display: none;
  }

  .meta-item {
    border: 0;
    display: block;
    margin: 0;
    padding: 2rem 0 0 0;
    min-width: 1rem;
  }

  .meta-item:last-child {
    border-bottom: none;
  }

  .meta-item-social-2col,
  .meta-item-social-2col-hide {
    display: none;
  }

  .meta-item:first-child {
    margin-top: -11rem;
  }

  /* Other */

  p.mini {
    transition: $transition-header;
  }

  .nav-back {
    position: fixed;
    top: 1rem;
    right: 63vw;
  }

  .figure-cover {
    grid-row: 2;
  }

  .image-m {
    display: block;
    width: calc(50vw + 8rem);
    margin: 0;
    padding-top: 0;
  }

  .image-s {
    width: 133.33%;
    margin: 0;
  }

  .image-author {
    margin-bottom: 4rem;
  }